.panel-heading{
	padding-top: 15px;
	padding-left: 13px;
}

.navbar-brand{
	margin-top: -20px;
}

.navbar-dark{
	height: 55px;
}

.alert{
	margin-left: 12px;
	margin-right: 12px;
}

.table-striped{
	margin-left: 25px;
	width: 1450px;
}

.btn-link{
	padding-left: 1300px;
}